h1{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.item{
  height: 200px;
  width: 300px;
  object-fit: cover;
  padding: 25px;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


@media screen and (max-width: 800px){
.item {
  width: 100%

  }
}
